{% extends 'base.html' %}

{% block title %} Add {% endblock %}

{% block body %}
    <div class="bkcont">
        <h2>Add New Book</h2>
        <hr />

        <form class="form" action="" method="POST">
            <label>Title</label>
            <input type="text" name="title" required />
            <label>Author</label>
            <input type="text" name="author" required />
            <label>Summary</label>                    
            <input type="text" name="summary" required />
            <label>Body</label>
            <textarea rows="6" 
            name="body" required></textarea>
            <button type="submit" name="submit">Add Book</button>
        </form>
    </div>
{% endblock %}