{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

            <div class="bkcont">
                <h2>Book list</h2>
                <hr />

                <div class="list">
                    <a href="/book/12">
                        <div class="book">
                            <h3>book title</h3>
                            <p>this is summary and it little descript my book</p>
                            <p class="auth">John Bond</p>
                        </div>
                    </a>                  

                    <div class="nobook">
                        <h3>You have not yet add book</h3>
                        <a href="">Add new Book</a>
                    </div>
                </div>
            </div>

{% endblock %}